<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="text-center">Enter your current mileage</h2>
      <div>
          <form class="form-inline justify-content-center">
              <div class="form-group mx-sm-3">
                  <label for="carReg" class="sr-only">Car Reg</label>
                  <input type="text" class="form-control car-search-box" id="carReg" placeholder="e.g 100000" #reginput>
              </div>
          </form>
          <p class="text-center push-down">Knowing the current mileage of your car can help us find the right plan for you.</p>

          <p type="button" class="btn btn-success spanbutton">Get Plans></p>
          <div><a href="#">Exceptions: Existing plan</a><br><a href="#">Exceptions: No plan available</a></div>

      </div>
    </div>
  </div>
</div>
