<div class="container h-100">
  <div class="row">
    <div class="col-md-12">
      <div class="navigation push-down">
        <span>
          <a href="#">Home</a> |
        </span>
        <span>
          <a href="#">FAQ</a> |
        </span>
        <span>
          <a href="#">Contact</a>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste itaque facere quia, illum animi aliquid pariatur dolorem
        dolores veritatis iure soluta beatae veniam sed quae ducimus, eaque voluptates in delectus! Soluta aliquam sit nesciunt
        ipsum reprehenderit doloribus inventore consequuntur ullam autem adipisci natus sunt velit pariatur praesentium aut
        asperiores aperiam, minus aspernatur mollitia corporis tempore magnam facere neque provident! Corrupti! Vitae eius
        facere non quam voluptate exercitationem itaque necessitatibus iure fugit obcaecati aliquam fugiat accusantium id
        voluptatum molestiae corrupti dicta labore, quisquam facilis, perferendis dolores suscipit earum inventore ab.
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <p class="text-center question">What Do I need to get started ?</p>
    </div>
  </div>
  <div class="row justify-content-md-center push-down">
    <div class="col-md-3">
      <div class="process-steps text-center">
        <p>
          <i class="fas fa-user-alt fa-3x"></i>
        </p>
        <p class="">Personal/Contact Detail</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="process-steps text-center">
        <p>
          <i class="fas fa-home fa-3x"></i>
        </p>
        <p class="">Address</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="process-steps text-center">
        <p>
          <i class="far fa-credit-card fa-3x"></i>
        </p>
        <p class="">Debit or Credit Cards, Bank Account Number/Sort Code(depends on plan)</p>
      </div>
    </div>
  </div>
  <!-- Search vehicle data using the license plate component goes in here  -->
  <app-search></app-search>
  <div class="row row-margin">
    <div class="col-md-3 offset-md-1">
      <div class="static-carousel">
        <div class="text-center">
          <p>
            <i class="fas fa-chart-line fa-3x"></i>
          </p>
          <b>Retain the highest residual value for your vehicle</b>
          <p class="text-center">The service book will carry Volkswagen service history of quality and reliability, making it easier to sell and
            giving it the highest possible resale/trade-in value when you decide to replace it</p>
        </div>

      </div>
    </div>
    <div class="col-md-3 offset-md-1">
      <div class="static-carousel">
        <div class="text-center">
          <p>
            <i class="fas fa-user-cog fa-3x"></i>
          </p>
          <b>Highly trained technicians</b>
          <p class="text-center">The service book will carry Volkswagen service history of quality and reliability, making it easier to sell and
            giving it the highest possible resale/trade-in value when you decide to replace it</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-1">
      <div class="static-carousel">
        <div class="text-center">
          <p>
            <i class="fas fa-map-marked-alt fa-3x"></i>
          </p>
          <b>Valid Nationwide</b>
          <p class="text-center">Your plan is valid nationwide, so work covered by the plane can be undertaken at any Volkswagen Retailer. </p>
        </div>

      </div>
    </div>
  </div>
</div>