body
    .question
        font-size: 20px
        
    .navigation
        span
            margin-right: 10px
            font-size: 1.2em
            
    .static-carousel
        border-top: 1px solid black
        border-bottom: 1px solid black
        padding: 20px 0px
        height : 19em
        max-height: 20em

    .push-down
        margin-bottom: 50px

    .process-steps
        border: 1px solid black
        padding: 10px
        height: 10em
        max-height: 10em
        margin-bottom: 10px