<div class="container crum-container">
  <div class="row text-center push-down">
    <div class="col-md-2">
      <p>
        <span class="size-badge badge badge-pill badge-primary">1</span>
      </p>
      Vehicle Details
    </div>
    <div class="col-md-2">
      <p>
        <span class="size-badge badge badge-pill badge-secondary">2</span>
      </p>Plans</div>
    <div class="col-md-2">
      <p>
        <span class="size-badge badge badge-pill badge-secondary">3</span>
      </p>Personal Details</div>
    <div class="col-md-2">
      <p>
        <span class="size-badge badge badge-pill badge-secondary">4</span>
      </p>Summary</div>
    <div class="col-md-2">
      <p>
        <span class="size-badge badge badge-pill badge-secondary">5</span>
      </p>Payment</div>
    <div class="col-md-2">
      <p>
        <span class="size-badge badge badge-pill badge-secondary">6</span>
      </p>Confirmation</div>
  </div>
</div>