.car-identity
    font-size: 2em

.car-details
    font-size: 1em
    background-color: #80808069
    border-radius: 2px
    padding: 20px

.electricPos
    position absolute
    top: 4px
    right: 30px
