// Small devices (landscape phones, 576px and up)
@media (max-width: 768px)
    .crum-container
        display: none
    .car-search-box
        width: 17em !important
    .jumbotron
        display: none
    .navigation
        text-align: center
