/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './mediaquery.styl';

body
    padding-top: 2%
    padding-bottom: 2%
    
    .push-down
        margin-bottom: 50px